.portfolio-item {
    width: 99%;
    margin: 0.5rem auto 0.5rem auto;
}

.project-card {
    width: 100%;
    height: 100%;
}

.project-card.blue-grey.darken-4:hover {
    background-color: #222d32!important;
}

.project-langs {
    margin-top: 1rem;
}

/* Desktop */
@media (min-width: 1200px) {
    .portfolio-item {
        width: 32%;
    }
}
