#submit {
    background-color: #7dff87!important;
    margin-top: 0.5rem;
}

.input-field :focus + label {
    color: #989898!important;
}

.input-field :not(label):focus {
    border-bottom-color: #7dff87!important;
    box-shadow: 0 1px 0 0 #7dff87!important;
}

.input-field .valid {
    border-bottom: 1px solid #7dff87!important;
    box-shadow: 0 1px 0 0 #7dff87!important;
}
