#portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.portfolio-item {
    width: 99%;
    margin: 0.5rem auto 0.5rem auto;
}

.portfolio-card {
    width: 100%;
    height: 100%;
}

.project-langs {
    margin-top: 1rem;
}

.lang {
    margin-top: 0.25rem;
}

#more-button {
    background-color: #7dff87;
}

#more-button:hover {
    background-color: #64CC6C;
}

/* Desktop */
@media (min-width: 1200px) {
    .portfolio-item {
        width: 32%;
    }
}
