#portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 99%;
    margin: auto;
}

.project-langs {
    margin-top: 1rem;
}

.lang {
    margin-top: 0.25rem;
}

/* Tablet */
@media (min-width: 601px) {
    .portfolio-item {
        width: 49%!important;
    }

    /* Desktop */
    @media (min-width: 768px) {
        .portfolio-item {
            width: 32%!important;
        }
    }
}
