.active {
    font-weight: bolder!important;
}

.middle {
    vertical-align: middle!important;
}

body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header {
    border-bottom: #7dff87 solid 5px;
}

nav, footer {
    background-color: #383838!important;
}

nav > * {
    padding-left: 1vw;
    padding-right: 1vw;
}

.logo {
    background-color: #555555;
    height: 42px;
    margin-right: 0.6vw;
}

.sidenav {
    background-color: #383838!important;
}

.sidenav * {
    color: #ffffff!important;
}

.sidenav .disabled {
    font-weight: bold!important;
    color: #666666!important;
}

main {
    flex: 1 0 auto;
}

footer {
    width: 100%;
    padding: 20px;
    border-top: #7dff87 solid 5px;
    color: #aaaaaa;
}
