.active {
    font-weight: bolder;
}

body {
    background-image: url("../images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    border-bottom: #7dff87 solid 5px;
}

nav {
    background-color: #383838;
}

nav > * {
    padding-left: 1vw;
    padding-right: 1vw;
}

.logo {
    background-color: #555555;
    height: 42px;
    vertical-align: middle;
    margin-right: 0.6vw;
}

.sidenav {
    background-color: #383838;
}

.sidenav * {
    color: #ffffff!important;
}

.sidenav .disabled {
    font-weight: bold;
    color: #666666!important;
}
