header {
    border-bottom: #7dff87 solid 5px;
    margin-bottom: 4vh;
}

nav {
    background-color: #383838!important;
}

nav > * {
    padding-left: 1vw;
    padding-right: 1vw;
}

.logo {
    background-color: #555555;
    height: 42px;
    margin-right: 0.6vw;
}
