#portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

#more-button {
    background-color: #7dff87;
}

#more-button:hover {
    background-color: #64CC6C;
}

#all-button {
    background-color: #76adff;
}

#all-button:hover {
    background-color: #5e8acc;
}

.portfolio-button {
    margin: 0 1vw 0 1vw;
}
